@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  background: #1f2937;
}

/* Header styles */
#hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  padding: 24px 8vw 0 8vw;
}

#hero-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
}

#hero-links {
  display: flex;
  gap: 32px;
}

#hero-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.3s ease;
}
#hero-links a:hover {
  color: #3b82f6;
}

/* Hero Styles */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2937;
  padding: 60px 8vw;
  gap: 48px;
}

.hero-left {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.hero-left h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin: 0;
}

.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

#hero-signup {
  background: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 32px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 18px;
  cursor: pointer;
  transition: background 0.2s ease;
}

#hero-signup:hover {
  background: #2563eb;
}

.hero-right #hero-pic {
  background: #6d747d;
  color: #e5e7eb;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 8px;
}

/* Info Section Style*/
#info-section {
  background: #fff;
  padding: 48px 0 64px 0;
  text-align: center;
}

#info-section h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 40px;
  font-family: "Roboto", Arial, sans-serif;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 36px;
  flex-wrap: wrap;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}

.info-img {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 12px;
  margin-bottom: 16px;
}

.info-text {
  color: 1f2937;
  font-size: 16px;
  margin-top: 0;
}
